body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #d1def4;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 2.5rem;
}

.input {
  border: 1px solid #333;
  border-radius: .3rem;
  padding: .25rem;
  width: 7em;
  font-size: 2rem;
}

select {
  margin-left: .5rem;
  font-size: 2rem;
  /* appearance: none; */
        outline: 0;
        background: rgb(51, 148, 245);
        background-image: none;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
}

.equals {
  font-weight: bold;
  font-size: 3rem;
}